main {
  display: flex;
  justify-content: center;
}

section {
  background-color: #FFEDC4;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  width: 600px;
}

.pokemon {
  display: flex;
  align-items: center;
  width: 200px;
  margin: 10px 25px;
  padding: 5px;
  background-color: #8AE0FC;
  border-radius: 10px;
  text-align: right;
}